<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.BoardMapper">
    <insert id="insertClubBoard">
        insert into boards(club_id, board_name)
        values(#{id}, concat(#{club_name},' 게시판') )
    </insert>

    <select id="getBoards" resultType="Board">
        select b.id, b.club_id, b.board_name
        from boards b
        left join user_club uc on b.club_id = uc.club_id
        where b.deleted = false and (
              b.club_id is null or uc.user_id = #{0}
              )
    </select>
    <select id="getBoardById" resultType="Board">
        select id, club_id from boards
        where id = #{0} and
              deleted = false
    </select>

    <update id="softDeleteBoard">
        update boards
        set deleted = true,
            updated_at = now()
        where club_id = #{0}
    </update>
</mapper>