<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.ClubMapper">
    <resultMap id="Club" type="Club">
        <result property="owner_name" column="nick_name"/>
    </resultMap>
    <insert id="insertClub">
        insert into clubs(owner_id,club_name,introduce)
        values(#{owner_id},#{club_name},#{introduce})
    </insert>
    <select id="getClubByName" resultType="Club">
        select * from clubs
        where club_name = #{name}
    </select>
    <insert id="joinClub">
        insert into user_club(user_id, club_id)
        values (#{0},#{1});
    </insert>
    <update id="increaseMember">
        update clubs
        set member_num = member_num+1,
            updated_at = now()
        where id = #{clubid}
    </update>
    <select id="getClubs" resultMap="Club">
        select clubs.*, users.nick_name from clubs
        join users on clubs.owner_id = users.id
        where clubs.deleted = false
    </select>
    <select id="getClubById" resultType="Club">
        select * from clubs
        where id = #{id}
    </select>
    <update id="updateClub">
        update clubs
        set club_name = #{club_name},
            introduce = #{introduce},
            updated_at = now()
        where id = #{id}
    </update>
    <update id="softDeleteClub">
        update clubs
        set deleted = true,
            updated_at = now()
        where id = #{id}
    </update>
    <select id="getJoined" resultType="Boolean">
        select deleted from user_club
        where user_id = #{0} and club_id = #{1}
    </select>
    <update id="rejoinClub">
        update user_club
        set deleted = false,
            updated_at = now()
        where user_id = #{0} and club_id = #{1}
    </update>
    <update id="withdrawalClub">
        update user_club
        set deleted = true,
            updated_at = now()
        where user_id = #{0} and club_id = #{1}
    </update>
    <update id="decreaseMember">
        update clubs
        set member_num = member_num - 1,
            updated_at = now()
        where id = #{clubid}
    </update>
    <select id="getClubsByOwner" resultType="Club">
        select * from clubs
        where owner_id = #{owner_id}
    </select>
    <select id="getJoinedClubs" resultType="Club">
        select clubs.* from clubs
        join user_club on clubs.id = user_club.club_id
    </select>
</mapper>