<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.CommentMapper">
    <resultMap id="Comment" type="Comment">
        <result property="writer_name" column="nick_name"/>
    </resultMap>
    <insert id="insertComment">
        INSERT INTO COMMENTS(POST_ID, CONTENT, WRITER_ID)
        VALUES(#{post_id}, #{content}, #{writer_id} )
    </insert>

    <select id="getComments" resultMap="Comment">
        SELECT c.ID, c.POST_ID, c.CONTENT, c.CREATED_AT, u.NICK_NAME FROM COMMENTS c
        JOIN users u ON c.WRITER_ID = u.ID
        WHERE c.DELETED = FALSE
          AND c.POST_ID = #{0}
        LIMIT #{1}, #{2}
    </select>
    <select id="getCommentById" resultType="Comment">
        SELECT ID, POST_ID, WRITER_ID, CREATED_AT FROM COMMENTS
        WHERE DELETED = FALSE
          AND ID = #{0}
    </select>

    <update id="updateComment">
        UPDATE COMMENTS
        SET CONTENT = #{content}
        WHERE ID = #{id}
    </update>
    <update id="softDeleteComment">
        UPDATE COMMENTS
        SET DELETED = TRUE
        WHERE ID = #{id}
    </update>
</mapper>