<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.UserMapper">
    <insert id="insertUser">
        INSERT INTO users(account_id,password,nick_name)
        VALUES(#{account_id},#{password},#{nick_name})
    </insert>

    <select id="getUserById" resultType="User">
        SELECT ID, ACCOUNT_ID, NICK_NAME, PASSWORD FROM USERS
        WHERE ID = #{id} AND DELETED = FALSE
    </select>
    <select id="getUserByAccountId" resultType="User">
        SELECT ID, ACCOUNT_ID, NICK_NAME, PASSWORD FROM USERS
        WHERE ACCOUNT_ID = #{account_id} AND DELETED = FALSE
    </select>
    <select id="getUserByNickName" resultType="User">
        SELECT ID, ACCOUNT_ID, NICK_NAME, PASSWORD  FROM USERS
        WHERE NICK_NAME = #{nick_name} AND DELETED = FALSE
    </select>

    <update id="updateUser">
        UPDATE USERS
        SET ACCOUNT_ID = #{account_id},
            PASSWORD = #{password},
            NICK_NAME = #{nick_name}
        WHERE ID = #{id}
    </update>
    <update id="softDeleteUser">
        UPDATE USERS
        SET DELETED = TRUE
        WHERE ID = #{id}
    </update>
</mapper>