<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.BoardMapper">
    <insert id="insertClubBoard">
        INSERT INTO BOARDS(CLUB_ID, BOARD_NAME)
        VALUES(#{id}, CONCAT(#{club_name},' 게시판') )
    </insert>

    <select id="getBoards" resultType="Board">
        SELECT b.ID, b.CLUB_ID, b.BOARD_NAME
        FROM BOARDS b
        LEFT JOIN USER_CLUB uc ON b.CLUB_ID = uc.CLUB_ID
        WHERE b.DELETED = FALSE AND (
              b.CLUB_ID IS NULL OR uc.USER_ID = #{0}
              )
    </select>
    <select id="getBoardById" resultType="Board">
        SELECT ID, CLUB_ID FROM BOARDS
        WHERE ID = #{0} AND
              DELETED = FALSE
    </select>

    <update id="softDeleteBoard">
        UPDATE BOARDS
        SET DELETED = TRUE
        WHERE CLUB_ID = #{0}
    </update>
</mapper>