<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.ClubMapper">
    <resultMap id="Club" type="Club">
        <result property="owner_name" column="nick_name"/>
    </resultMap>
    <insert id="insertClub">
        INSERT INTO CLUBS(OWNER_ID,CLUB_NAME,INTRODUCE)
        VALUES(#{owner_id},#{club_name},#{introduce})
    </insert>
    <insert id="joinClub">
        INSERT INTO USER_CLUB(USER_ID, CLUB_ID)
        VALUES (#{0},#{1});
    </insert>

    <select id="getClubByName" resultType="Club">
        SELECT ID, OWNER_ID FROM CLUBS
        WHERE CLUB_NAME = #{name}
          AND DELETED = FALSE
    </select>
    <select id="getClubs" resultMap="Club">
        SELECT c.ID, c.OWNER_ID, c. CLUB_NAME, c.INTRODUCE, c.MEMBER_NUM, c.CREATED_AT, u.NICK_NAME FROM CLUBS c
        JOIN USERS u ON c.OWNER_ID = u.ID
        WHERE c.DELETED = FALSE
        ORDER BY c.ID
        LIMIT #{0}, #{1}
    </select>
    <select id="getClubById" resultType="Club">
        SELECT ID, OWNER_ID, CLUB_NAME, INTRODUCE, MEMBER_NUM, CREATED_AT FROM CLUBS
        WHERE ID = #{id}
          AND DELETED = FALSE
    </select>
    <select id="getJoinedStatus" resultType="Boolean">
        SELECT DELETED FROM USER_CLUB
        WHERE USER_ID = #{0} AND CLUB_ID = #{1}
    </select>
    <select id="getJoinedClubNum" resultType="Long">
        SELECT COUNT(c.ID) FROM CLUBS c
        JOIN USER_CLUB uc ON c.ID = uc.CLUB_ID
        WHERE c.DELETED = FALSE
          AND uc.DELETED = FALSE
          AND uc.USER_ID = #{0}
    </select>

    <update id="increaseMember">
        UPDATE CLUBS
        SET MEMBER_NUM = MEMBER_NUM+1
        WHERE ID = #{clubid}
    </update>
    <update id="updateClub">
        UPDATE clubs
        SET club_name = #{club_name},
            introduce = #{introduce}
        WHERE id = #{id}
    </update>
    <update id="softDeleteClub">
        UPDATE clubs
        SET deleted = TRUE
        WHERE id = #{id}
    </update>
    <update id="rejoinClub">
        UPDATE user_club
        SET deleted = FALSE
        WHERE user_id = #{0} AND club_id = #{1}
    </update>
    <update id="withdrawalClub">
        UPDATE user_club
        SET deleted = TRUE
        WHERE user_id = #{0} AND club_id = #{1}
    </update>
    <update id="decreaseMember">
        UPDATE clubs
        SET member_num = member_num - 1
        WHERE id = #{clubid}
    </update>
</mapper>