<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.PostMapper">
    <resultMap id="Post" type="Post">
        <result property="writer_name" column="nick_name"/>
    </resultMap>
    <insert id="insertPost">
        INSERT INTO POSTS(BOARD_ID, TITLE, CONTENT, WRITER_ID)
        values(#{board_id}, #{title}, #{content}, #{writer_id} )
    </insert>

    <select id="getPosts" resultMap="Post">
        SELECT p.ID, p.BOARD_ID, p.TITLE, p.COMMENT_NUM, p.HIT, p.WRITER_ID, p.CREATED_AT, u.NICK_NAME FROM POSTS p
        JOIN USERS u ON p.WRITER_ID = U.ID
        WHERE p.DELETED = FALSE AND p.BOARD_ID = #{0}
        ORDER BY p.ID DESC
        limit #{1}, #{2}
    </select>
    <select id="getPostsCount" resultType="Long">
        SELECT COUNT(ID) FROM POSTS
        WHERE DELETED = FALSE AND BOARD_ID = #{0}
    </select>
    <select id="getPostById" resultMap="Post">
        SELECT p.ID, p.BOARD_ID, p.TITLE, p.CONTENT, p.WRITER_ID, p.COMMENT_NUM, p.HIT, p.CREATED_AT, u.NICK_NAME FROM POSTS p
        JOIN USERS u ON p.WRITER_ID = u.ID
        WHERE p.DELETED = FALSE AND p.id = #{0}
    </select>

    <update id="increaseHit">
        UPDATE POSTS
        SET HIT = HIT+1
        WHERE ID = #{0}
    </update>
    <update id="updatePost">
        UPDATE POSTS
        SET TITLE = #{title},
            CONTENT = #{content}
        WHERE id = #{id}
    </update>
    <update id="softDeletePost">
        UPDATE POSTS
        SET DELETED = TRUE
        WHERE ID = #{id}
    </update>
</mapper>