<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="domain.User" alias="User"/>
        <typeAlias type="domain.Club" alias="Club"/>
        <typeAlias type="domain.Board" alias="Board"/>
        <typeAlias type="domain.Post" alias="Post"/>
        <typeAlias type="domain.Comment" alias="Comment"/>
    </typeAliases>
</configuration>